# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/src/alexustasuaeaa.github.io/
/src/assets/img/
/dist/oldberg/browser/assets/fonts/Neucha-Regular.ttf
/dist/oldberg/browser/assets/i18n/en.json
/dist/oldberg/browser/assets/i18n/ru.json
/dist/oldberg/browser/assets/img/oldberg/covers/album-the week.jpg
/dist/oldberg/browser/assets/img/oldberg/covers/long fall.jpg
/dist/oldberg/browser/assets/img/oldberg/covers/signal.jpg
/dist/oldberg/browser/assets/img/oldberg/covers/step by.jpg
/dist/oldberg/browser/assets/img/oldberg/covers/summer.jpg
/dist/oldberg/browser/assets/img/oldberg/covers/the week.jpg
/dist/oldberg/browser/assets/img/oldberg/covers/third day.jpg
/dist/oldberg/browser/assets/img/oldberg/covers/yo-yo.jpg
/dist/oldberg/browser/assets/img/oldberg/1.jpg
/dist/oldberg/browser/assets/img/oldberg/2.jpg
/dist/oldberg/browser/assets/img/oldberg/3.jpg
/dist/oldberg/browser/assets/img/oldberg/4.jpg
/dist/oldberg/browser/assets/img/oldberg/5.jpg
/dist/oldberg/browser/assets/img/oldberg/6.jpg
/dist/oldberg/browser/assets/img/oldberg/7.jpg
/dist/oldberg/browser/assets/img/oldberg/8.jpg
/dist/oldberg/browser/assets/img/oldberg/11.jpg
/dist/oldberg/browser/assets/img/oldberg/12.jpg
/dist/oldberg/browser/assets/img/oldberg/oldberg-logo.svg
/dist/oldberg/browser/assets/img/oldberg/wall.jpg
/dist/oldberg/browser/assets/music/Oldberg-summer.mp3
/dist/oldberg/browser/media/1-BK4PVVQ2.jpg
/dist/oldberg/browser/media/2-YK6IPTRN.jpg
/dist/oldberg/browser/media/3-OLZ53VZD.jpg
/dist/oldberg/browser/media/4-26UHBRZP.jpg
/dist/oldberg/browser/media/5-QIMO52UD.jpg
/dist/oldberg/browser/media/6-RSA2GQPT.jpg
/dist/oldberg/browser/media/7-53KJB5V3.jpg
/dist/oldberg/browser/media/8-5HLPSNXB.jpg
/dist/oldberg/browser/media/bootstrap-icons-OCU552PF.woff
/dist/oldberg/browser/media/bootstrap-icons-X6UQXWUS.woff2
/dist/oldberg/browser/media/Neucha-Regular-XGRAAVEN.ttf
/dist/oldberg/browser/media/wall-IM57Y5V2.jpg
/dist/oldberg/browser/.nojekyll
/dist/oldberg/browser/404.html
/dist/oldberg/browser/favicon.ico
/dist/oldberg/browser/index.html
/dist/oldberg/browser/main-67R6UHXT.js
/dist/oldberg/browser/polyfills-LWTTNIW5.js
/dist/oldberg/browser/scripts-EEEIPNC3.js
/dist/oldberg/browser/styles-72UUWU5L.css
/dist/oldberg/3rdpartylicenses.txt
