<div class="container-fluid music">
  <div class="row">
    <div class="container-fluid music-text">
      <div class="row">
        <div class="col-8 offset-2 col-xl-2 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/long fall.jpg" class="card-img-top" alt="long fall">
            <div class="card-body">
              <h4 class="card-title">Long Fall</h4>
              <h5 class="card-text">{{'app_music_single' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2025</li>
              <li class="list-group-item">{{'app_music_long_fall' | translate}}.</li>
            </ul>
            <div class="card-body text-center">
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_first_link' | translate}}
              </a>
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_second_link' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/the week.jpg" class="card-img-top" alt="the week">
            <div class="card-body">
              <h4 class="card-title">The Week</h4>
              <h5 class="card-text">{{'app_music_single' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2025</li>
              <li class="list-group-item">{{'app_music_the_week' | translate}}.</li>
            </ul>
            <div class="card-body text-center">
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_first_link' | translate}}
              </a>
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_second_link' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 mt-4 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/signal.jpg" class="card-img-top" alt="signal">
            <div class="card-body">
              <h4 class="card-title">Signal</h4>
              <h5 class="card-text">{{'app_music_single' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2025</li>
              <li class="list-group-item">{{'app_music_signal' | translate}}.</li>
            </ul>
            <div class="card-body text-center">
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_first_link' | translate}}
              </a>
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_second_link' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/third day.jpg" class="card-img-top" alt="third day">
            <div class="card-body">
              <h4 class="card-title">Third day</h4>
              <h5 class="card-text">{{'app_music_single' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2025</li>
              <li class="list-group-item">{{'app_music_third_day' | translate}}.</li>
            </ul>
            <div class="card-body text-center">
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_first_link' | translate}}
              </a>
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_second_link' | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-2 col-xl-2 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/step by.jpg" class="card-img-top" alt="step by">
            <div class="card-body">
              <h4 class="card-title">Step by</h4>
              <h5 class="card-text">{{'app_music_single' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2025</li>
              <li class="list-group-item">{{'app_music_step_by' | translate}}.</li>
            </ul>
            <div class="card-body text-center">
              <a href="https://onerpm.link/208108325027" target="_blank" class="card-link text-dark">
                {{'app_music_first_link' | translate}}
              </a>
              <a href="" target="_blank" class="card-link text-dark">
                {{'app_music_second_link' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/album-the week.jpg" class="card-img-top" alt="week">
            <div class="card-body">
              <h4 class="card-title">Week</h4>
              <h5 class="card-text">{{'app_music_album' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2023</li>
              <li class="list-group-item">{{'app_music_week' | translate}}.</li>
            </ul>
            <div class="card-body text-center">
              <a href="https://band.link/78NLF" target="_blank" class="card-link text-dark">
                {{'app_music_first_link' | translate}}
              </a>
              <a href="https://onerpm.link/608791840620" target="_blank" class="card-link text-dark">
                {{'app_music_second_link' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/yo-yo.jpg" class="card-img-top" alt="yoyo">
            <div class="card-body">
              <h4 class="card-title">YoYo</h4>
              <h5 class="card-text">{{'app_music_single' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2022</li>
              <li class="list-group-item">
                {{'app_music_yoyo' | translate}} Mifag.
              </li>
            </ul>
            <div class="card-body text-center">
              <a href="https://onerpm.link/292342732002" target="_blank" class="card-link text-dark">
                {{'app_music_first_link' | translate}}
              </a>
              <a href="https://band.link/Yoyoy" target="_blank" class="card-link text-dark">
                {{'app_music_second_link' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="../../assets/img/oldberg/covers/summer.jpg" class="card-img-top" alt="summer">
            <div class="card-body">
              <h4 class="card-title">Summer</h4>
              <h5 class="card-text">{{'app_music_single' | translate}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'app_music_year' | translate}}: 2021</li>
              <li class="list-group-item">
                {{'app_music_summer' | translate}} "play".
              </li>
            </ul>
            <div class="card-body text-center text-center">
              <a href="#" class="card-link text-dark"></a>
              <a href="#" class="card-link text-dark"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-2 col-xl-6 offset-xl-3 mt-4">
          <div class="card last-card">
            <img src="../../assets/img/oldberg/12.jpg" class="card-img-top" alt="project">
            <div class="card-body">
              <h5 class="card-title">
                {{'app_music_project' | translate}} (Mifag)
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
